<div class = "container d-flex justify-content-center align-items-center", style = "margin-top: 150px; " >
  <div class = "d-flex justify-content-center align-items-center border rounder-5 p-5 bg-white shadow flex-column", style = "padding: 80px;">

    <%= render "users/shared/error_messages", resource: resource %>


    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field mt-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions mt-4 d-flex justify-content-center align-items-center">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-secondary" %>
      </div>
    <% end %>

    <div class = "d-flex justify-content-center align-items-center flex-column mt-3">
      <%= render "users/shared/links" %>
    </div>

  </div>
</div>
