<nav class="navbar bg-body-tertiary d-flex justify-content">
  <div class = "d-flex">
    <%= link_to 'StoreHub', root_path, class: "ms-3 mb-0 h1 text-decoration-none" %> 
  </div>
  <div class = "d-flex justify-content-evenly" style = "margin-right: 60px;">
    <nav class="navbar bg-body-tertiary ms-5" style = "margin-left: 80px;">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <%= form_tag menu_path, method: "get" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Product", class: "form-control" %>
            <%= submit_tag("Search", name: nil,  class: "btn btn-outline-success") %>
          <% end %>
        </form>
      </div>
    </nav>
    <% if user_signed_in? %>
      <span class = "mt-3 me-3">Hello <%= current_user.first_name %></span>
      <% if current_user.admin? %>
        <div class="dropdown mt-2 me-2">
          <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Admin Controls
          </button>
          <ul class="dropdown-menu dropdown-menu-dark  ">
            <li class = "dropdown-item"><%= link_to 'Home', root_path, class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Users', users_path, class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Role', roles_path, class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Manage Product', product_user_path(current_user), class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Manage Categories', categories_path, class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Manage Inventory', categories_path, class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Log Out', destroy_user_session_path, class: "text-decoration-none text-light",  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }%> </li>
          </ul>
        </div>

        <div class = "dropdown mt-2">
          <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Profile
          </button>
          <ul class="dropdown-menu dropdown-menu-dark  ">
            <li class = "dropdown-item"><%= link_to 'Home', root_path, class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Details', user_path(current_user), class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'My Cart', cart_user_path(current_user), class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Edit', edit_user_path(current_user), class: "text-decoration-none text-light" %></li>
            <li class = "dropdown-item"><%= link_to 'Log Out', destroy_user_session_path, class: "text-decoration-none text-light",  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }%> </li>
          </ul>
        </div>
      <% else %>
        <% if current_user.owner? %>
          <div class="dropdown mt-2 me-2">
            <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Owner Controls
            </button>
            <ul class="dropdown-menu dropdown-menu-dark  ">
              <li class = "dropdown-item"><%= link_to 'Manage Product', product_user_path(current_user), class: "text-decoration-none text-light" %></li>
              <li class = "dropdown-item"><%= link_to 'Manage Categories', categories_path, class: "text-decoration-none text-light" %></li>
              <li class = "dropdown-item"><%= link_to 'Manage Inventory', categories_path, class: "text-decoration-none text-light" %></li>
            </ul>
          </div>
        <% end %>
        <div class = "dropdown mt-2">
          <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Profile
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" >
              <li class = "dropdown-item"><%= link_to 'My Cart', cart_user_path(current_user), class: "text-decoration-none text-light" %></li>
              <li class = "dropdown-item"><%= link_to 'Edit', edit_user_path(current_user), class: "text-decoration-none text-light" %></li>
              <li class = "dropdown-item"><%= link_to 'Details', user_path(current_user), class: "text-decoration-none text-light" %></li>
              <li class = "dropdown-item"><%= link_to 'Log Out', destroy_user_session_path, class: "text-decoration-none text-light",  data: { turbo_method: :delete }%> </li>
          </ul>
        </div>
      <% end %>
      
    <% else %>
      <div class = "me-4">
        <%= link_to 'Log In', new_user_session_path, class: "btn btn-secondary mt-2" %> 
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-secondary mt-2" %>
      </div>
    <% end %>
  </div>
</nav>