<div class = "d-flex flex-column justify-content-center"> 
  <% if @cart_products.blank? %>
    <p class="h2 text-center">Your Cart is Empty</p>
  <% else %>
    <p class="h2 text-center mt-5">My Cart</p>
    <div class = "row m-5 ">
      <div class="col-md-7">
        <% @cart_products.each do |cart_product| %>
          <div class = "row shadow p-3 mb-5 bg-body-tertiary rounded">

            <div class = "col-md-3" style = "padding-left: 130px;">
              <%= image_tag(Product.find_by(id: cart_product.product_id).images.first, style: "width: 10rem; height: 10rem;") %>
            </div>

            <div class = "col-md-9" style = "padding-left: 230px; padding-top: 20px">

              <div class = "d-flex flex-column">
                <p class = "fw-bold"><%= cart_product.product.name %></p>
                <p>Seller : <%= cart_product.product.user.first_name %></p>
                <p class = "fw-bold">₹<%=  cart_product.product.price * cart_product.quantity %></p>
              </div>
               
              <div class = "d-flex">
                <%= form_with(url: carts_increase_path) do |f| %>
                  <%= f.hidden_field :id, value: cart_product.id %>
                  <%= button_tag(class: "btn") do %>
                    <i class="bi bi-plus-circle"></i>
                  <% end %>
                <% end %>

                <span class = "p-2 fw-bold"><%= cart_product.quantity %></span>

                <%= form_with(url: carts_decrease_path) do |f| %>
                  <%= f.hidden_field :id, value: cart_product.id %>
                  <%= button_tag(class: "btn") do %>
                    <i class="bi bi-dash-circle"></i>
                  <% end %>
                <% end %>

              </div>
       

              <div>
                <%= link_to 'Remove', cart_path(cart_product), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove?"} %>
              </div>
            </div>
          </div>
        <% end %> 
      </div>

      <div class = "col-md-5 d-flex flex-column justify-content-center">
        <div class = "shadow bg-body-tertiary rounded p-5" style = "margin-bottom: 350px; height: 300px">
          <% @cart_products.each do |cart_product| %>
            <div class = "d-flex justify-content-between ps-5 pe-5">
              <span class = "fw-bold"><%= cart_product.product.name %></span>
              <span>₹<%= cart_product.product.price * cart_product.quantity %></span>
            </div>
          <% end %>
          <hr width = "100%;" color = "black" size="4">
          <div class = "d-flex justify-content-between ps-5 pe-5 flex-column">
            <div class = "d-flex justify-content-between"> 
              <span class = "fw-bold">Total : </span>
              ₹<%= @total %>
            </div>
          </div>

          <%= link_to "Checkout", checkout_path, class: "btn btn-info ms-5 mt-3" %> 
        </div>
      </div>
    <div>
  <% end %>
</div>

