<div class = "container d-flex justify-content-center align-items-center", style = "margin-top: 150px; " >
	<div class = "row d-flex justify-content-center align-items-center border rounder-5 p-5 bg-white shadow  box-area inside_container">
		<p class="h2 text-center">New Category</p>
		<%= form_for @category do |f| %>
			<div class = "form-group m-3">
				<%= f.label :name %>
				<%= f.text_field :name ,class: "form-control my-3" %>
			</div>

      <div class = "form-group m-3">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control my-3" %>
      </div>


      <div class = "form-group m-3">
				<p>If it is a subcategory then mention its parent Category</p>
				<%= f.select :parent_id, @categories.map { |category, value| [category.name, category.id] }, {include_blank: "None"}, { class: 'form-control' } %>
			</div>

			<div class = "ms-5 d-flex justify-content-center">
				<%= f.submit 'Create Category', class: 'btn btn-primary mt-3 me-5 ' %>
			</div>
		<% end %>

	</div>

</div>