<div class = "d-flex mt-5">
	<div class = "bg-body-tertiary ms-4" style = "width: 15%;">
		<p class = "fw-bold">Shop by Categories</p>
		<% @categories.each_with_index do |category,i| %>
			<% if category.parent_id == nil %>
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
								<%= category.name %>
							</button>
						</h2>
						<div id="collapse<%= i %>" class="accordion-collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<% category.sub_categories.each_with_index do |sub_category,i| %>
									<div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h2 class="accordion-header">
												<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
													<%= sub_category.name %>
												</button>
											</h2>
											<div id="collapse<%= i %>" class="accordion-collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<% category.sub_categories.each do |sub_category| %>
														<%= sub_category.name %>
													<% end %>
												</div>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class = "d-flex bg-body-tertiary" style = "width: 75%; margin-left: 80px;">
		<% @products.each do |product| %>
			<div style = "height: 38rem; width: 18rem;">
				<%= image_tag(product.images.first, style: "width: 18rem; height: 18rem;" ) %>
				<div >
					<div>
						<h7 class = "card-title"><%= product.name  %></h7>
					</div>

					<div>
						<h6 class = "card-title"><%= product.price  %></h6>
					</div>
				</div>

				<div class = "mt-4">
					<%= link_to 'Details', product_path(product), class: "btn btn-success ms-5" %>
				</div>
			</div>
		<% end %>
	</div>
 
</div>

