
<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="carousel-inner">
		<%= link_to products_path do %>
			<div class="carousel-item active">
				<%= image_tag "ad1.jpg", class: "d-block w-100" %>
			</div>
		<% end %>
		<div class="carousel-item">
			<%= image_tag "ad2.jpg", class: "d-block w-100" %>
		</div>
		<div class="carousel-item">
			<%= image_tag "ad3.jpg", class: "d-block w-100" %>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class = "row m-5 ">
	<div class = "col-md-2 shadow p-3 rounded">
		<p class = "fw-bold">Shop by Categories</p>
		<% @categories.each_with_index do |category,i| %>
			<% if category.parent_id == nil %>
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header d-flex justify-content-between align-items-center">
							<%= link_to category.name, products_path(category_id: category.id), class: "text-decoration-none fs-6 ps-4" %>
							<button class="accordion-button w-25 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
							</button>	
						</h2>
				
						<div id="collapse<%= i %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body w-100">
								<% category.sub_categories.each_with_index do |sub_category,i| %>

										<div class="accordion-item">
											<h2 class="accordion-header d-flex justify-content-between align-items-center">
												<%= link_to sub_category.name, products_path(category_id: sub_category.id), class: "fs-6 text-decoration-none fs-5 ps-4" %>
												<button class="accordion-button w-25" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
												</button>
											</h2>
											<div id="collapse<%= i %>" class="accordion-collapse" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<% category.sub_categories.each do |sub_category| %>
														<%= sub_category.name %>
													<% end %>
												</div>
											</div>
										</div>
									
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class = "col-md-10 row">
	  
    <% @products.each do |product| %>
			<div class = "col-md-3 p-5 shadow rounded d-flex align-items-center flex-column">
				<%= image_tag(product.images.first, style: "height: 300px;", class:"text-center") %>

				<div style = "height: 150px; padding: 15px 30px 0px 30px;" class="d-flex align-items-center">
					<p class = "fw-bold my-auto"><%= product.name %></p>
				</div>

				<div style = "height: 10%; padding: 0px 30px 0px 30px;">
					<p class = "fw-normal">₹<%= product.price %></p>
				</div>

				<div class = "d-flex justify-content-around"  style = "height: 15%;">
					<div>
						<%= link_to "Details", product_path(product), class: "btn btn-info" %>
					</div>
					<%= form_with(url: cart_products_path) do |f| %>
						<%= f.hidden_field :id, value: product.id %>
						<%= f.submit "Add to Cart", class: "btn btn-dark" %>
					<% end %>
				</div>
			</div>
		<% end %>

	</div>
</div>

